<div ng-controller='MovieController as movieCtrl'>
	<h2 class="sub-header">Movie List..: </h2>
    <div class="table-responsive">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movie in movieCtrl.movies">
            <td>{{movie.title}}</td>
            <td>{{movie.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
